/* Su Jeong Shin */
body{ font-family: Verdana; color: #707B7C; text-align: center; }
header{ padding-top: 6%; padding-bottom: 3%; }
h1{ letter-spacing: 6px; margin: 0; font-size: 45px; }
h2{ padding: 0% 11%; text-align: left; /*padding: 0 5%; */}

section.simple-content{ padding: 1.5% 4%; min-height: 300px; }
section.main-content{ padding: 1.5% 7%; min-height: 230px; } 
/*section.main-content-short{ padding: 1.5% 7%; min-height: 230px; }*/
hr{ clear: both; border: none; }
nav{ float: right; }

.content-left{ float: left; width: 30%; clear: left; }
.content-right{ float: left; width: 70%; margin-right: 0; text-align: left; }
.inner-left{ padding: 0 5%; }
.inner-right{ padding: 0 5%; }

/* Text */
.work-title{ font-size: 22px; color: #9F5069; }
.work-info{ font-size: 14px; color: #B17179; }
.work-desc{ font-size: 14px;}
.font-violet{ color: #9F5069; }
.font-violet2{ color: #B17179; }

/* Menu link */
ul.menu{ padding: 0; list-style: none; margin: 0 auto;}
li.menu-list{ padding: 0; display:inline-block; width: 25%; }
div.menu-padding{padding: 0.5%;}

a.menu-big{
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 90%;
	height: 4%;
/*	width: 15em;
	height: 9em;*/
	/*margin: 0.5%;	*/
	line-height: 8em;
}
a.menu-small{
	display: inline-block;
	color: white;
	text-decoration: none;
}
.menu-color{ background-color: #F6CAC9; }
.menu-color:hover{background-color: #C48189; }
.menu-grey{ background-color: #B2BABB; }
.menu-grey:hover{background-color: #666362; }


/* Images */
img.floral-letter{ width: 1em; height: auto; }

img.mypic{
	width: 100%;
	border-radius: 50%;

	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);

	cursor: pointer;
}
img.mypic:hover{
	filter: none;
	-webkit-filter: grayscale(0);
}

img.workpic{
	width: 75%;
	/*width: 13em;*/
	border-radius: 15px;
}

img.contactpic{
	width: 65%;
	border-radius: 15px;

	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
img.contactpic:hover{
	filter: none;
	-webkit-filter: grayscale(0);
}

/* Enlarge img */
img#mypic-large{
	height:100%; 
	margin:0; 
	padding:0;
}
div#mypic-large-panel {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(100,100,100, 0.5);
}


/* Media Queries */
/* Mobile Phones  ----------- */
@media only screen and (min-width: 0px) and (max-width: 480px){

	/* Color: Yellow */
	.menu-color{background-color: #F7D098;} 

	li.menu-list{ width: 100%; }
	.content-left{ float: none; width: 100%; }
	.content-right{ float: none; width: 100%;  }

	img.mypic{
		width: 80%;
		border-radius: 50%;
		filter: none;
		-webkit-filter: grayscale(0);
	}

	img.contactpic{
		width: 40%;
		border-radius: 15px;

		filter: none;
		filter: grayscale(0);
	}
}



/* Tablets  ----------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {

	/* Color: Blue */
	.menu-color{background-color: #79A8A9;}

	li.menu-list{ width: 45%; }
	.content-left{ float: none; width: 100%; }
	.content-right{ float: none; width: 100%; }

	img.mypic{
		width: 100%;
		border-radius: 50%;
		filter: none;
		-webkit-filter: grayscale(0);
	}

	img.contactpic{
		width: 50%;
		border-radius: 15px;

		filter: none;
		filter: grayscale(0);
	}

}


}


/* Desktops and laptops ----------- */
/*@media only screen and (min-width: 769px) {
	li.menu-list{ display: inline-block; list-style: none; width: 25%; }

}*/
